name: Build Subway Menu
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Theos
        uses: Randomblock1/theos-action@v1

      - name: Build Tweak
        run: |
          make
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Upload Dylib
        uses: actions/upload-artifact@v4
        with:
          name: SubwayMod-Dylib
          path: .theos/obj/debug/*.dylib
